# Default Wkr config file

server {
    host "localhost"
    port 8000
}

storage {
    path "./wkr_data"
}

user {
    name "admin"
    # password -raw "admin"
    password {$2a$04$pMGDvWaMWomaZavH6h9h/.kypKpI.kw.dINkHyuLPvFrEclUHIt9K}
    group "admin"
}

user {
    name "steven"
    # password -raw "test"
    password {$2a$04$OuhWIPEQaTZelaMoofuw3.Ha3YML9jc77FQXhyB.iguqUlzOnIeqm}
    group "member"
}
